.card {
  width: 100%;
  height: 100%;
  background-color: var(--sidebar-bg);
  border-radius: 6px;
  padding: 25px;
  overflow: hidden;
}

.imgWrapper {
  position: relative;
  width: 100%;
  height: 65%;
}

.img {
  object-fit: cover;
  border-radius: 8px;
  bottom: 0;
  left: 0;
}

.name {
  width: fit-content;
  margin-block: 15px;
  font-size: 1.2rem;
  width: fit-content;
  color: var(--main-color);
  position: relative;
  padding-bottom: 3px;
  z-index: 15;
}

.name::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2.5px;
  border-radius: 4px;
  background-color: var(--secondary-color);
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
  margin-bottom: -3px;
}

.name:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1rem;
  line-height: 1.4;
}
