.container {
  padding-top: 30px;
}

.contactWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 10px 20px;
  margin-top: 80px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hello {
  color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hiText {
  position: relative;
}

.emoji {
  position: absolute;
  display: inline-block;
  margin-left: 10px;
  right: -40px;
  top: -5px;
}

.emoji:hover {
  cursor: pointer;
}

.text {
  font-size: 1.2rem;
  line-height: 1.5;
}

.myEmail {
  display: flex;
  gap: 20px;
  align-items: center;
}

.iconWrapper {
  width: 45px;
  height: 45px;
  background-color: var(--sidebar-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1.5px solid var(--main-color);
}

.emailIcon {
  font-size: 22px;
  color: var(--main-color);
}

.email {
  all: unset;
  cursor: pointer;
  position: relative;
}

.email::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  border-radius: 4px;
  background-color: var(--secondary-color);
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
  margin-bottom: -3px;
}

.email:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.form {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inp {
  padding: 15px;
  background-color: var(--sidebar-bg);
  color: var(--font-color2);
  font-size: 1rem;
  font-family: Montserrat, sans-serif;
  border-radius: 7px;
  border: 0;
}

.inp::placeholder {
  color: var(--font-color2);
}

.inp:focus {
  outline: 2px solid var(--secondary-color);
  box-shadow: var(--secondary-color) 0px 5px 15px;
}

.textarea {
  padding: 15px;
  background-color: var(--sidebar-bg);
  color: var(--font-color2);
  font-size: 1rem;
  font-family: Montserrat, sans-serif;
  border-radius: 7px;
  border: 0;
}

.textarea::placeholder {
  color: var(--font-color2);
}

.textarea:focus {
  outline: 2px solid var(--secondary-color);
  box-shadow: var(--secondary-color) 0px 5px 15px;
}

.sendBtn {
  all: unset;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  height: 40px;
  background-color: var(--main-color);
  cursor: pointer;
  border-radius: 7px;
  margin-top: 10px;
  transition: 0.2s all linear;
}

.sendBtn:focus {
  outline: 2px solid var(--secondary-color);
  box-shadow: var(--secondary-color) 0px 5px 15px;
}

.sendText {
  font-size: 1rem;
}

.sendIcon {
  font-size: 24px;
  color: #fff;
}

.sendBtn:hover {
  background-color: var(--secondary-color);
  transform: translateY(-7px);
}

@media screen and (max-width: 895px) {
  .form {
    width: 60%;
  }
}

@media screen and (max-width: 730px) {
  .contactWrapper {
    padding-top: 0;
    flex-direction: column;
    margin-top: 15px;
  }

  .content {
    gap: 9px;
  }

  .form {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .contactWrapper {
    gap: 15px;
  }

  .text {
    font-size: 0.9rem;
    line-height: unset;
  }

  .iconWrapper {
    width: 35px;
    height: 35px;
  }

  .emailIcon {
    font-size: 18px;
  }

  .email {
    font-size: 0.9rem;
  }
}
