.errorContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--site-bg);
  color: var(--main-color);
  padding: 10px;
}

.btnWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.errorMessage {
  text-align: center;
  font-size: 2em;
  margin-bottom: 40px;
}

.btn {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  color: var(--secondary-color);
  background-color: #f8fafb;
  border-radius: 6px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s all linear;
}

.btn:hover {
  transform: translateY(-5px);
  background-color: var(--main-color);
  color: #f8fafb;
}

.gif {
  border-radius: 20px;
  object-fit: cover;
  margin-bottom: 40px;
}

@media screen and (max-width: 420px) {
  .btnWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
  }

  .errorMessage {
    font-size: 1.5em;
    margin-bottom: 0px;
  }

  .btn {
    width: 130px;
    height: 35px;
    font-size: 14px;
  }

  .gif {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 650px) {
  .gif {
    width: 100%;
    object-fit: contain;
  }
}
